$color-primary: #fff;
$color-accent: rgb(219, 221, 224);
$color-hover: rgb(230, 234, 243);
$color-text: #000;
$color-red: rgb(224, 35, 35);
$color-green: rgb(29, 233, 63);
$color-grey: #999;
$color-blue: rgb(0, 140, 255);
