$color-primary: #f9fafa;
$color-accent: #eceeef;
$color-hover: #d3dce1;
$color-text: #000;
$color-red: #de3b32;
$color-green: #9fe2c0;
$color-grey: #a5aeb2;
$color-blue: #02a2d7;
$color-white: #fff;
$color-filter-hover: #f2fafd;
$color-filter-hborder: #67abbc;
$color-tooltip: rgba(255, 255, 255, 0.9);
$color-sidebar: #eceeef;
