@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  font-family: 'Open Sans';
  font-size: 14px;
  background-color: rgb(250, 248, 248);
  text-align: center;
}

/* CATEGORIES */

.categoriesContainer {
  /* max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto; */
  column-width: 250px;
  column-gap: 50px;
  text-align: left;
  overflow-y: scroll;
  margin: 10px;
}

.verticalScroll {
  height: 300px;
  overflow-y: auto;
}

.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.category:hover {
  background-color: rgb(219, 221, 224);
}

.status-btn {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* FOOTER */

.footer {
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 238, 238);
}

.buttonContainer {
  display: flex;
  width: 210px;
  justify-content: space-between;
}

.btn {
  background-color: #fff;
  border: none;
  padding: 7px;
  border-radius: 3px;
}

.btn i {
  margin-right: 5px;
}

.btn-border {
  border: 1px solid rgb(0, 140, 255);
  padding: 3px 15px;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(230, 234, 243);
  border: solid 1px #000;
}

.filterContainer {
  display: flex;
  width: 270px;
  justify-content: space-between;
}

/* FONT-AWESOME */

.fa-simplybuilt {
  font-size: 14px;
  color: rgb(224, 35, 35);
}

.fa-smile-o {
  font-size: 14px;
  color: rgb(29, 233, 63);
}

.fa-info {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
}

.fa-info:hover {
  cursor: pointer;
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 300px;
  bottom: 100%;
  left: 50%;
  margin-left: -110px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
