@import './styles/colors.scss';

.categories-wrapper {
  margin: 0 auto;
  font-family: 'OpenSans';
  font-size: 14px;
  background-color: $color-primary;
  text-align: center;
}

/* CATEGORIES */

.categories-container {
  column-width: 250px;
  column-gap: 40px;
  text-align: left;
  margin: 10px;
}

.scroll-wrapper {
  height: 300px;
  overflow-y: auto;
}

.category {
  display: inline-flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.category:hover {
  background-color: $color-accent;
}

.status-btn {
  width: 25px;
  height: 25px;
  background-color: $color-primary;
  border: 1px solid $color-accent;
  border-radius: 5px;
  margin-right: 7px;
}

/* FOOTER */

.footer {
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-accent;
}

.button-container {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.btn {
  background-color: $color-primary;
  border: none;
  border-radius: 3px;
}

.btn i {
  margin-right: 5px;
}

.btn-border {
  border: 1px solid $color-blue;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  background-color: $color-hover;
  border: solid 1px $color-text;
}

.filter-container {
  display: flex;
  width: 270px;
  justify-content: space-between;
}

/* FONT-AWESOME */

.fa-simplybuilt {
  font-size: 16px;
  color: $color-red;
}

.fa-smile-o {
  font-size: 16px;
  color: $color-green;
}

.fa-info {
  font-size: 16px;
  color: $color-grey;
  margin-left: 5px;
}

.fa-info:hover {
  cursor: pointer;
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: $color-primary;
  color: $color-text;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: 'Open Sans';

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 300px;
  bottom: 100%;
  left: 50%;
  margin-left: -110px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $color-primary transparent transparent transparent;
}
