@import '../styles/_colors.scss';

.categories-wrapper {
  margin: 0 auto;
  background-color: $color-primary;
  text-align: center;
}

/* CATEGORIES */

.categories-container {
  column-width: 250px;
  column-gap: 40px;
  text-align: left;
  margin: 10px;
}

.scroll-wrapper {
  height: 300px;
  overflow-y: auto;
}

/* FOOTER */

.footer {
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-accent;
}

.button-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  width: 290px;
  justify-content: space-between;
  align-items: center;
}
