@import '../styles/_colors.scss';

.profile-item{
  display: block;
  text-decoration: none;
  width: 250px;
  padding: 10px;
  background: $color-sidebar;
  border:none;
  border-radius: 6px;
  color: $color-text;
  margin-bottom: 20px;
  text-align: left;
  line-height: 14px;

  &:hover{
    cursor:pointer;
    background: $color-green;
    color: $color-white;
  }

  &__description{
    display: block;
    width: 80%;
  }
  &.active{
    background: $color-green;
    color: $color-white;
  }
}



